<p>
  <div class="commenter">
    <strong>Commenter:</strong>
  </div>
  <%= comment.commenter %>
</p>

<p>
  <div class="comment">
    <strong>Comment:</strong>
  </div>
  <%= comment.body %>
</p>

<p>
  <div class="detcom">
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>
</p>
